
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Farmers app</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="templates/Admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="templates/Admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="templates/Admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="templates/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="templates/Admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="templates/Admin/js/select.dataTables.min.css">
  <link rel="stylesheet" href="templates/Admin/vendors/mdi/css/materialdesignicons.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="templates/Admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="templates/Admin/images/favicon.png" />

  <script src="templates/Admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="templates/Admin/vendors/chart.js/Chart.min.js"></script>
  <script src="templates/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="templates/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="templates/Admin/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="templates/Admin/js/off-canvas.js"></script>
  <script src="templates/Admin/js/hoverable-collapse.js"></script>
  <script src="templates/Admin/js/template.js"></script>
  <script src="templates/Admin/js/settings.js"></script>
  <script src="templates/Admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="templates/Admin/js/dashboard.js"></script>
  <script src="templates/Admin/js/Chart.roundedBarCharts.js"></script>
  <!-- <script src="templates/Mainjs/jquery-3.4.1.min.js"></script> -->
  <script src="templates/Mainjs/jquery.validate.min.js"></script>

  <script src="Controller/mainController.js"></script>
</head>
<body>
 
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    

    <nav class="navbar navbar-dark bg-primary"  style="background-image: url('templates/Admin/images/l.jpg');">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="background-color:#282F3A;"><img src="templates/Admin/images/logo3.jpg" style="background-color:azure" width="100px" height="60px" class="mr-2" alt="logo"/>
        <a class="navbar-brand brand-logo mr-5" href="index.html"></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="templates/Admin/images/l.jpg" style="background-color:#010102" alt="logo"/></a>
         </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
           
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/faces/face28.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="background-color: black;" >
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="" class="settings-panel">
        
       
        <div class="tab-content" id="setting-content">
          
          <!-- To do section tab ends -->
          
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: black;">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=admin_home" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon" ></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=manage_category" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Manage Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=manage_item" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Add Item</span>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="index.py?id=view_item" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon" style="background-image: url('templates/Admin/images/t1.jpg');"></i>
              <span class="menu-title">View Item</span>
            </a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=view_customer" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">View Customer</span>
            </a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=ad_vbook" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">View Booking</span>
            </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=view_booking" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Shipping Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=ad_delivery" style="background-image: url('templates/Admin/images/t1.jpg');">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Delivery Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=view_question" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">FAQ</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=refund" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Refund</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=stock_updation" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Stock Updation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=view_feedback" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">View Feedback</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=bookfromto" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Booking Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=shipmentreport" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Shipping Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=deliveryreport" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Delivery Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=adrefund" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">View Refunded product</span>
            </a>
          </li>
            <!--
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=shippingreport" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Shipping Report</span>
            </a>
          </li>
        -->
          <!--
          
          <li class="nav-item">
            <a class="nav-link" href="index.py?id=userdate" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Booking Report2</span>
            </a>
          </li>
        -->
          <li class="nav-item">
            <a class="nav-link" href="ad_index1.py" onclick="logout()" style="background-image: url('templates/Admin/images/t1.jpg');">
             <i class="icon-grid menu-icon"></i>
           
              <span class="menu-title">Logout</span>
            </a>
          </li> 
      

          
        </ul>
      </nav>
      <script>
        function logout(){
        localStorage.clear();
      }
        </script>
  
    </body>
 
        
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper"   style="background-image: url('templates/Admin/images/t1.jpg');" >
          <div class="row">
            <div class="col-md-12 grid-margin">
            