<script src="Controller/ad_sendreply.js"></script>


<div class="center-me w-50 border border-primary">
    <form action="" id="myForm6" method="post">
        <input type="hidden" name="cid" id="cid">
        <h3 class="text-center text-secondary">Reply</h3>
        <div class="row form-group">
            <div class="col-md-6">
                <label for="uname">Reply description</label>
                <input type="text" name="reply" id="reply" class="form-control"  required>
            </div>
            
        </div>
      
        
        
        
        
        <div class="row form-group">
            <div class="col-md-12 text-right">
                <button type="submit" id="submit" class="btn btn-success">SEND</button>
            </div>
        </div>
        <div class="text-center" id="msg"></div>
    </form>
</div>