<script src="Controller/viewitem.js"></script>
<!-- from -->
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-12 text-center"
            style="color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.4);border-radius: 10px;">

            <!-- to -->
            <h2 style="color: white;">Product List</h2>

            <div id="mainContent" class="row"></div>

        </div>
        <div class="col-md-0"></div>
    </div>

</div>