

<script src="Controller/view_feedback.js"></script>

<div class="row">
<div class="col-sm-12">
    <div id="cnt" class="container bg-dark text-white shadow rounded">
    <h1 class="text-white">FEEDBACK DETAILS</h1>
      <table class="table table-striped table-fixed table-dark" id="tb">
          <thead class="thead-dark">
              <!-- <th>Sl.No</th> -->
              <th>Product name</th>
              <th>feedback</th>
             
              
          </thead>
          <tbody id="stds"></tbody>
      </table>
    </div>
  </div>
  <div class="text-center" id="msg"></div>
  </div>