
<div class="inner-pages-mid">
    <div class="about-us-page">
        <p style="text-align:center"><span style="font-size:36px"><strong>About Us</strong></span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:16px"><a href="http://agribegri.com/contact_us.php"><strong>Online Agriculture Automation System  Pvt Ltd</strong></a> Incorporated in the year 2016 is a platform, where sellers can advertise to promote and sell their agriculture input products, thus we act as a bridge between sellers and buyers for agricultural input products. </span></span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><strong><span style="font-size:16px">We are known for supplying Seeds, Fertilizers, Pesticides, Plant Growth Regulators, Irrigation and Farming Tools and Equipment that are required in agriculture. We provide&nbsp;guaranteed market's best price&nbsp;and&nbsp;customer support&nbsp;with&nbsp;Free Home Delivery&nbsp;throughout India.</span></strong></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:16px">Under the mentoring of our managing director, Mr.Hiteshgiri Goswami we have been able to satisfy huge clientele across India. Assisted by our excellent management skills, we are one of the fastest-growing companies&nbsp;in India.</span><br><br>
&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:36px"><strong>Why Work With Us</strong></span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<ul><li><span style="font-size:16px">Vast experience in the market field &amp; research</span></li><li><span style="font-size:16px">Wide range of products</span></li><li><span style="font-size:16px">Free shipping across India</span></li><li><span style="font-size:16px">Guaranteed market’s best price</span></li><li><span style="font-size:16px">The simple registration process for sellers</span></li><li><span style="font-size:16px">Easy return/refund policies</span></li><li><span style="font-size:16px">sales &amp; marketing team support</span></li></ul><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:36px"><strong>Our Core Purpose</strong></span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:16px">Our mission is to help farmers of India by providing reliable products at reasonable rates by using state-of-the-art&nbsp;management systems and high-end technology.</span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:36px"><strong>Core Values</strong></span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center">&nbsp;</p><br>
<ul><li><span style="font-size:16px">Integrity</span></li><li><span style="font-size:16px">Customer delight</span></li><li><span style="font-size:16px">Continuous innovation &amp; research</span></li><li><span style="font-size:16px">Transparency</span></li></ul><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:16px">Online Agriculture Automation System is <a href="http://www.agribegri.com/"><strong><em>India's fastest-growing Online Agri Shop</em></strong></a> where you can get Cheap Agricultural Products at a guaranteed market's best price. We also deal in wholesale and retailing on fertilizers, pesticides, insecticides, tractors, etc. </span></p><br>
<p style="text-align:center">&nbsp;</p><br>
<p style="text-align:center"><span style="font-size:16px">If you are looking for a discounted shop for Agricultural products, then it is guaranteed that you are at the right place where you can <a href="http://www.agribegri.com/">Shop Online for all agricultural products</a> in India's best online agricultural website.</span></p>                        </div>
</div>