<script src="Controller/question_cus.js"></script>

<form action="" id="myForm7" method="post" style="width: 30%;margin: auto;position: relative;">
  <h3 class="text-center text-secondary">Doubt and query</h3>
  <div class="row form-group">
      <div class="col-md-12">
          <label for="uname">FAQ</label>
          <input type="text" name="faq" id="faq" class="form-control"  minlength="3"
              required>
      </div>
  </div>
 
  <div class="row form-group">
      <div class="col-md-12 text-right">
         
          <button type="submit" id="submit" class="btn btn-success">send</button>
      </div>
  </div>
  <div class="text-center" id="msg"></div>
</form>
    

      <script>
        $(document).ready(function($) {
        
      
          
          
        
        
        $('#myForm7').validate({
          rules: {
            
            faq: {
              required: true,
               
            }
            ,
            cat_desc: {
              required: true 
            }
        
         },
         messages: {
        
          faq: {
            required: "question required",
            
        
          }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
          $(element).addClass('is-valid');
        },
        }); 
        });
        
        
        </script>
     